@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Special+Elite&display=swap');

:root{
    --all-black: #000;
    --ft-orange: #CC3F0A;
    --bar-red: #BF0000;
}

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

header{
    background-color: var(--bar-red);
    color: var(--ft-orange);
    height: 60px;
    display: flex;
    align-items: center;
}

h1, h2, h3, h4, h5, h6{
    margin-bottom: 0%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

html, body{
    background-color: var(--all-black);
}

h1{
    color: var(--ft-orange);
    filter: drop-shadow(1px 1px 1px var(--all-black));
}

nav h1{
    font-size: 24px;
    font-weight: 700;
}

nav a{
    font-size: 12px;
    font-weight: 400;
}

a, a:hover {
    text-decoration: none;
    color: unset;
    filter: sepia(.45);
    filter: drop-shadow(1px 1px 0.5px var(--all-black));
}

b{
    filter: brightness(0);
}

.hanmashart-contact-container{
    display: flex;
    align-items: center;

}
.hanmashart-contact-container b{
    margin-right: 10px;
}

#hanmashart-card-list{
    padding: 40px 0;
}

.hanmashart-card{
    width: 100%;
}

.hanmashart-card img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 138px;
    max-height: 138px;
}

.hanmashart-card-description{
    padding: 10px 15px 20 px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bar-red);
    border-radius: 0 0 10px 10px;
    min-height: 120px;
}

.hanmashart-card-description h3{
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 17px;
    font-weight: 700;
    color: var(--all-black);
    text-align: center;
}

.hanmashart-btn, .hanmashart-btn:hover {
    background-color: var(--ft-orange);
    height: 40px;
    width: 180px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 700;
    color: var(--all-black);
    border-radius: 10px;
}